body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-register-container {
  margin-top: 20px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.registration-buttons {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px;
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;

}

.link-button {
  padding: 50px 20px;
  box-shadow: 10px 10px 5px grey;
  text-decoration: none;
  width: 200px;
  height: 100px;
  align-content: center;
  border-radius: 10px;
}