body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #5F9CDE;
  padding-top: 20px;
  border: none;
  outline: none;
  font-size: 20px;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0%;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  border-bottom: 3px solid #5F9CDE;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5F9CDE;
}

form input:focus + .label-name:after, 
.form input:valid + .label-name:after {
  transform: translateY(-0%);
} */

.main-register-container {
  margin-top: 20px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.registration-buttons {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px;
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;

}

.link-button {
  padding: 50px 20px;
  box-shadow: 10px 10px 5px grey;
  text-decoration: none;
  width: 200px;
  height: 100px;
  align-content: center;
  border-radius: 10px;
}